{% extends "generator/base.html" %}

{% block title %}
    Register
{% endblock %}
<style>
</style>
{% block body %}
    <div class="pass-title">
        <h1>РЕГИСТРАЦИЯ</h1>
    </div>

    <div class="mb-3">
        <form method="post" class="reg-form form-control-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="register">
                <input type="submit" value="Регистрация" class="btn btn-outline-secondary">
                <a href="{% url 'generator:home' %}" class="btn btn-outline-secondary">На главную</a>
            </div>
        </form>
    </div>

{% endblock %}